<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iHandy Solutions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </head>
  <body>

    <a href="/"><img style="float: right;" class="iHandyLogo" src="/images/iHandySolutionsLogo.png" alt="iHandy-Solutions Logo"></a>

    <div style="clear: right" class="main-container">
      <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
<!-- <# if(visible){ #> -->
            <div class="collapse navbar-collapse" id="home-nav">
              <ul class="nav navbar-nav">
                <% if (typeof user !== 'undefined') { %>
                <li><a href="/job/new">Request a Job</a></li>
                <% } %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Login</a></li>
                <% } %>
                <% if (typeof user !== 'undefined') { %>
                <li>
                  <form action="/logout" method="POST">
                    <button class="btn btn-link btn-logout" type="submit">Logout</a>
                  </form>
                </li>
                <% } %>
                <% if (typeof user !== 'undefined') { %>
                <li><a href="/"><%= user.username %></a></li>
                <% } %>
              </ul>
            </div>
            <!-- <# } #> -->
          </div>
        </nav>
      <%- body -%>
      <!-- layouts/main-layout.ejs -->

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
