<div class="container">
  <div id="formdiv">
  <div class="row">
    <h1>Login</h1>
    <div class="col-sm-12 form-group-md">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <button type="submit">Login</button>
        <a class="btn btn-social-icon btn-facebook" href="/auth/facebook">Login with Facebook!!</a>
      </form>
    </div>
  </div>
</div>
</div>
